#------------------------------------------------------------------------------
#
# Copyright (c) 2010, Intel Corporation
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright notice,
#       this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright notice,
#       this list of conditions and the following disclaimer in the documentation
#       and/or other materials provided with the distribution.
#     * Neither the name of Intel Corporation nor the names of its contributors
#       may be used to endorse or promote products derived from this software
#       without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#------------------------------------------------------------------------------

menuentry "Power Management Reference Code" {
    set pager=1
    echo "Running power management reference code ..."
    runppm
    py 'from bits import pause ; pause.pause()'
    set pager=0
}

menuentry "Power Management Reference Code (no Turbo)" {
    set pager=1
    echo "Running power management reference code ..."
    runppm -u
    py 'from bits import pause ; pause.pause()'
    set pager=0
}

menuentry "Force performance optimization - Enterprise profile" {
    set pager=1
    echo "Forcing performance optimization Enterprise profile..."
    echo "Force MLC Streamer Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --mask=0x1 1
    echo "Force MLC Spatial Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --shift=1 --mask=1 1
    echo "Force DCU Streamer Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --shift=2 --mask=1 1
    echo "Force DCU IP Prefetcher Enabled"
    wrmsr -q --rmw 0x1a4 --shift=3 --mask=1 0
    cpuid32 --cpu=0 --env --quiet 1
    if c ( eax "&" ~0xf ) "==" 0x206c0 ; then
        echo "Force Data Reuse Perf Opt Disabled"
        wrmsr -q --rmw 0x1a4 --shift=6 --mask=1 1
    fi
    echo "Still need to run PPM RC with Turbo enabled and EIST enabled"
    py 'from bits import pause ; pause.pause()'
    set pager=0
}

menuentry "Force performance optimization - HPC profile" {
    set pager=1
    echo "Forcing performance optimization test suite - HPC profile..."
    echo "Force MLC Streamer Prefetcher Enabled"
    wrmsr -q --rmw 0x1a4 --mask=0x1 0
    echo "Force MLC Spatial Prefetcher Enabled"
    wrmsr -q --rmw 0x1a4 --shift=1 --mask=1 0
    echo "Force DCU Streamer Prefetcher Enabled"
    wrmsr -q --rmw 0x1a4 --shift=2 --mask=1 0
    echo "Force DCU IP Prefetcher Enabled"
    wrmsr -q --rmw 0x1a4 --shift=3 --mask=1 0
    cpuid32 --cpu=0 --env --quiet 1
    if c ( eax "&" ~0xf ) "==" 0x206c0 ; then
        echo "Force Data Reuse Perf Opt Enabled"
        wrmsr -q --rmw 0x1a4 --shift=6 --mask=1 0
    fi
    echo "Run PPM RC with Turbo enabled and EIST enabled"
    runppm
    py 'from bits import pause ; pause.pause()'
    set pager=0
}

menuentry "Force performance optimization - Low power profile" {
    set pager=1
    echo "Forcing performance optimization - Low Power profile..."
    echo "Force MLC Streamer Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --mask=0x1 0x1
    echo "Force MLC Spatial Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --shift=1 --mask=1 1
    echo "Force DCU Streamer Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --shift=2 --mask=1 1
    echo "Force DCU IP Prefetcher Disabled"
    wrmsr -q --rmw 0x1a4 --shift=3 --mask=1 1
    cpuid32 --cpu=0 --env --quiet 1
    if c ( eax "&" ~0xf ) "==" 0x206c0 ; then
        echo "Force Data Reuse Perf Opt Disabled"
        wrmsr -q --rmw 0x1a4 --shift=6 --mask=1 1
    fi
    echo "Run PPM RC with Turbo disabled and EIST enabled"
    runppm -u
    echo "Forcing Target core frequency 1.60GHz requires BIOS and system reset"
    py 'from bits import pause ; pause.pause()'
    set pager=0
}
